table {
    font-family: 'Calibri';
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
}

thead {
    text-transform: uppercase;
}

th {
    background-color: #036;
    color: white;
    padding: 2%;
}

td {
    border-color: #036;
}

img {
    padding: 2px;
}